/ Left side widgets
#dashboard-widgets-left
  #travelling-status.mb-3
    .badge.bg-warning.text-dark.w-100.py-2
      i.bi.bi-exclamation-triangle.me-1
      | Not Connected

  / Odometer widget
  .widget.odometer-widget
    .widget-label.mb-2.small =t('dashboard.odometer.distance_today')
    .odometer-container
      .odometer-digit 0
      .odometer-digit 0
      .odometer-digit 0
      .odometer-digit 0
      .odometer-digit 0
      .odometer-separator .
      .odometer-digit 0
    .widget-label.mt-2.small =t('units.distance')

  / GPS Info widget - Collapsible
  .widget.gps-widget.collapsible
    .widget-header.clickable data-toggle="gps-collapse"
      .widget-label
        i.bi.bi-geo-alt.me-1
        =t('dashboard.gps.title')
      i.bi.bi-chevron-down.collapse-icon
    .gps-details.collapsed
      .gps-row
        span.gps-label
          =t('dashboard.gps.latitude')
          | :
        span#gps-latitude.gps-value --
      .gps-row
        span.gps-label
          =t('dashboard.gps.longitude')
          | :
        span#gps-longitude.gps-value --
      .gps-row
        span.gps-label
          =t('dashboard.gps.altitude')
          | :
        span#gps-altitude.gps-value --
      .gps-row
        span.gps-label
          =t('dashboard.gps.satellites')
          | :
        span#gps-satellites.gps-value --

/ Heading indicator - top right corner (CarPlay style)
/ Will be created dynamically by JavaScript when travelling

/ Speed circle - top right corner (CarPlay style)
/ Will be created dynamically by JavaScript when travelling

/ Note: All values will be populated by JavaScript when data loads
/ JavaScript methods that update these elements:
/ - updateTravellingStatus(travelling)
/ - updateOdometer(distanceKm)
/ - updateGPSInfo(gps)
/ - updateHeadingIndicator(direction, travelling, speedKmh)
/ - updateSpeedCircle(speedKmh, travelling)
/ - initGPSCollapse() - Sets up the collapse functionality
