/ Right side weather sidebar
#weather-sidebar
  .sidebar-content
    / Temperature widget
    .widget.widget-horizontal
      .widget-icon-small
        i.bi.bi-thermometer-half.text-danger
      .widget-info
        .widget-value-small
          | --
          span.widget-unit-small °C
        .widget-label-small Temperature

    / Humidity widget
    .widget.widget-horizontal
      .widget-icon-small
        i.bi.bi-droplet.text-primary
      .widget-info
        .widget-value-small
          | --
          span.widget-unit-small %
        .widget-label-small Humidity

    / Pressure widget
    .widget.widget-horizontal
      .widget-icon-small
        i.bi.bi-speedometer.text-info
      .widget-info
        .widget-value-small
          | --
          span.widget-unit-small hPa
        .widget-label-small Pressure

    / Dewpoint widget
    .widget.widget-horizontal
      .widget-icon-small
        i.bi.bi-moisture.text-secondary
      .widget-info
        .widget-value-small
          | --
          span.widget-unit-small °C
        .widget-label-small Dewpoint

#sidebar-toggle
  i.bi.bi-chevron-left

/ Note: All weather values will be populated by JavaScript when data loads
/ JavaScript method that updates these elements: updateWeatherSidebar(weather)
