<div id="<%= dom_id trip %>">
  <p>
    <strong>Name:</strong>
    <%= trip.name %>
  </p>

  <p>
    <strong>Start on:</strong>
    <%= trip.start_on %>
  </p>

  <p>
    <strong>Distance (km):</strong>
    <%= trip.distance.km %>
  </p>

</div>
