.container-fluid
  .row.align-items-center.mb-3
    .col
      h2 = l(@date, format: :long)
    .col-auto
      = link_to trip_logs_path(date: @date - 1.day), class: 'btn btn-outline-secondary btn-sm' do
        i.bi.bi-chevron-left
        ' Previous day
      = link_to trip_logs_path(date: @date + 1.day), class: 'btn btn-outline-secondary btn-sm ms-2' do
        ' Next day
        i.bi.bi-chevron-right

  .row.mb-3.g-2
    - [[t('trip_logs.index.distance'), @presenter.distance],
       [t('trip_logs.index.duration'), @presenter.duration],
       [t('trip_logs.index.max_speed'), @presenter.max_speed],
       [t('trip_logs.index.segments'), @presenter.segments],
       [t('trip_logs.index.fuel_used'), @presenter.fuel_used],
       [t('trip_logs.index.fuel_efficiency'), @presenter.fuel_efficiency]].each do |label, value|
      .col-md-2
        .card
          .card-body.text-center
            .text-muted.small = label
            h4 = value

  .row
    .col-12
      #trip-log-map.w-100[
        data-controller="trip-logs"
        data-trip-logs-target="container"
        style="min-height: 500px; height: 60vh;"
        data-trip-logs="#{@trip_logs.map { |tl| { coordinates: tl.coordinates.map { |c| [c[1], c[0]] }, name: tl.name } }.to_json}"
        data-stops="#{@stops.map { |s| { lat: s.location[:lat], lon: s.location[:lon], stop_type: s.stop_type, name: s.display_name, duration_minutes: s.duration_minutes, edit_url: edit_stop_path(s) } }.to_json}"
      ]