= form_with(model: [@trip, route]) do |form|
  - if route.errors.any?
    .alert.alert-danger role="alert"
      h4.alert-heading
        = pluralize(route.errors.count, "error")
        |  prohibited this route from being saved:
      ul.mb-0
        - route.errors.each do |error|
          li
            = error.full_message

  .mb-3
    = form.label :waypoint_start_id, t('routes.form.waypoint_start'), class: 'form-label'
    = form.select :waypoint_start_id, options_for_select(@trip.waypoints.order(:sequence).map { |w| ["#{w.sequence} - #{w.name}", w.id] }, route.waypoint_start_id), { include_blank: false }, class: 'form-select'

  .mb-3
    = form.label :waypoint_end_id, t('routes.form.waypoint_end'), class: 'form-label'
    = form.select :waypoint_end_id, options_for_select(@trip.waypoints.order(:sequence).map { |w| ["#{w.sequence} - #{w.name}", w.id] }, route.waypoint_end_id), { include_blank: false }, class: 'form-select'

  .d-grid
    = form.submit t('routes.form.submit'), class: 'btn btn-primary'
